<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>Calculator</string>
    <key>CFBundleIdentifier</key>
    <string>com.macapp.calculator</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>工具箱</string>
    <key>CFBundleDisplayName</key>
    <string>工具箱</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
            <key>CFBundleIconFile</key>
            <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>工具箱需要访问麦克风以进行录音</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>工具箱需要语音识别权限以将录音转写为文字</string>
    <key>NSCalendarsUsageDescription</key>
    <string>工具箱需要日历权限以显示您的日程和中国节假日</string>
</dict>
</plist>
